<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/styles.css">
    
</head>
<body>
    <div class="sales">
        <h1>Log in</h1>
        <form action="quotes" method="post">
            <input type="text" class="form-control" value="username"><br></br>
            <input type="password" class="form-control" name="pasword" value="password" placeholder="show password"><br></br>
            <!-- <input type="submit" class="form-control" name="login" id="login" value="Log in" > -->
            <button type="submit">Log in</button>
         </form>
        </div>
</body>
<script src="login.js"></script>
</html>