<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/items.css">
</head>
<body class="hello">
    <div class="container-fluid" id="products">
        <div class="row">
            <div class="col-md-3" id="item">
                <h1>Sofas</h1>
                <img src="/images/logo4.jpg" width="100px" alt="">
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/logo5.jpg" width="100px" alt="">
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/logo6.jpg" width="100px" alt="">
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image12.jpg" width="100px" alt="">
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image11.jpg" width="100px" alt="">
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image11.jpg" width="100px" alt="">
            </div>
            <div class="col-md-3" id="item">
                
                <img src="/images/logo4.jpg" width="100px" alt="">
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image7.jpg" width="100px" alt="">
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image8.jpg" width="100px" alt="">
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image9.jpg" width="100px" alt="">
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/images10.jpg" width="100px" alt="">
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image11.jpg" width="100px" alt="">
            </div>
        </div>
    </div>
</body>
</html>