<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/items.css">
</head>
<body class="hello">
    
    <div class="container-fluid" id="products">
       
        <div class="row">
           <div>
            <ul>
                <li><a href="login.html">Home</a></li>
                <li><a>About</a>
                    <ul>
                        <li><a>our team</a></li>
                        <li><a>our sites</a></li>
                        <li><a>mission</a></li>
                        <li><a>resources</a></li>
                    </ul>
                </li>
                <li><a>Things to do</a>
                    <ul>
                        <li><a>activities</a></li>
                        <li><a>parks</a></li>
                        <li><a>shops</a></li>
                        <li><a>events</a></li>
                    </ul>
                </li>
                <li><a>Contact</a>
                    <ul>
                        <li><a>map</a></li>
                        <li><a>directions</a></li>
                        
                    </ul>
                </li>
                <li><a>News</a></li>
            </ul>
           </div>
            <div class="col-md-3" class="boxed" id="item">
                
                <img src="/images/logo4.jpg" width="100px" alt="">
                <div>Sofas</div>
                Ugx.1,500,000
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/logo5.jpg" width="100px" alt="">
                <div>curtains </div>
                Ugx.150,000
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/logo6.jpg" width="100px" alt="">
                <div>Shoes</div>
                Ugx.50,000
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image7.jpg" width="100px" alt="">
                <div>Ladies' shoes</div>
                Ugx.70.000
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image8.jpg" width="100px" alt="">
                <div>Clothes</div>
                Ugx.65,000
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image9.jpg" width="100px" alt="">
                <div>Mens' Clothes</div>
                Ugx.650,000
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image10.jpg" width="100px" alt="">
                <div>Vegetables</div>
                Ugx.3,500
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image11.jpg" width="100px" alt="">
                <div>Laptops</div>
                Ugx.1,200,000
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image12.jpg" width="100px" alt="">
                <div>TV Sets</div>
                Ugx.550,000
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image13.jpg" width="100px" alt="">
                <div>Home Theater</div>
                Ugx.950,000
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image14.jpg" width="100px" alt="">
                <div>Watches</div>
                Ugx.500,000
            </div>
            <div class="col-md-3" id="item">
                <img src="/images/image15.jpg" width="100px" alt="">
                <div>Phones</div>
                Ugx.800,000
            </div>
        </div>
    </div>
</body>
</html>