<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="recordBody">
    <div class="container-fluid">
    <div class="form-row">

    <div class="col-6">
        <form action="/" class="record" id="record" method="POST">
                
            <div class="form-group">
            <label for="name">First name</label><br>
            <input type="text" class="form-control" id="name" name="name" placeholder="First name" required>
            </div>
            
            <div class="form-group">
            <label for="name">Last name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Last name" required>
                  
            </div>
            
            
           
         <div class="form-group">
            <label for="district">Location</label>
            <input type="text" class="form-control" name="district" id="district"placeholder="District" required>
         </div>
       <div class="form-group">
        <label for="number">Phone Number</label><br>
        <input type="text" class="form-control" name="number" id="number" placeholder="Phone number" required>
       </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
        </div>
        
        <div class="form-group">
        <input type="text" class="form-control" name="nin" id="nin" placeholder="National ID No.">
        </div>
        </form>
    </div>
            
                <div class="col-6">
                    <form action="/" class="record" id="record" method="POST">
                    <div class="form-group">
                        <label for="name">Item name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Enter Item Name" required>
                        </div>
                        <div class="form-group">
                        <label for="number">Item serial number</label>
                        <input type="text" class="form-control" name="number" id="number" placeholder="Enter Serial Number" required>
                        </div>
                        <div class="form-group">
                        <input type="amount" class="form-control" name="initialPay" id="initialPay" placeholder="Initial Pay." required>
                        </div>
                        <div class="form-group">
                        <input type="date" class="form-control" name="date" id="date" placeholder="Date of pay." required>
                        </div>
                        
                        <div class="form-group">
                        <input type="amount" class="form-control" name="amount" id="amount" placeholder="Enter Next amount." required>
                        
                        </div>
                        <div class="form-group">
                        <input type="date" class="form-control" name="date" id="date" placeholder="Next Date of pay." required>
                        </div>
                        <div class="form-group">
                        <label for="number">Referee No.</label>
                        <input type="text" class="form-control" name="number" id="number" placeholder="Referee No." required>
                        </div>
                        
                        
                        <div class="form-group">
                        <label for="yes">Purchase receipt</label><br>
                        <label for="">yes</label>
                        <input type="radio" name="receipt" checked>
                        <label for="">no</label>
                        <input type="radio" name="receipt" checked>
                        </div>
                        
                    </form>
                </div>
                
            </div>
        
    </div>
    
</body>

<script src="record.js"></script>
</html>