<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>To the store manager</h1>
    <form action="about" name="post">
        <label for="name">Name</label><br>
        <input type="text" placeholder="First name" class="name">
        <input type="text" placeholder="Last name" class="name"><br></br>
        <label for="district">District</label>
        <input type="text" name="district" id="district"><br></br>
        <label for="nationalid">National ID No.</label>
        <input type="text" name="nationalid" id="nationalid"><br></br>
        <label for="employeeid">Employee ID No.</label>
        <input type="text" name="employeeid" id="employeeid"><br></br>
        <button type="submit">submit</button>
    </form>
</body>
</html>