/* List of items */
.main-content{
    width: 70%;
    font-weight: bold;
    border: 2px solid black;
    background-color:white;
    margin: 5%;
    border-radius: 5px;
    margin-left: 200px;
}


#list{
    background-color: lightblue;
}
#item{
    background-color: lightblue;
    padding-top: 45px;
    padding-left: 30px;
}
#submitAgent{
   
    margin-bottom: 5px;
    color: rgb(103, 102, 102);
    background-color: rgb(163, 163, 243);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
}


/* products */
.hello{
    /* background-color: red; */
    /* border: 2px solid blue; */
    background-position: cover;
    background-size: 5%;
    width: 100%;
    height: 300%;
}

#products{
    
    
    padding-right: 0%;
    /* margin: 10px; */
}
#item{
    padding: 30px;
}
/* a:hover,:active{
    background-color: red;
} */
.boxed{
    
}


body{
    /* background-image: url(images/images.jpg); */
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
   

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
li{
    float: left;
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: 0.8;
    line-height: 40px;
    text-align: left;
    font-size: 20px;
    margin-right: 2px;
    /* border-radius: 5px; */
}
a{
    text-decoration: yellowgreen;
    color: white;
    display: block;
}
a:hover,:active{
    background-color: green;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
