.logo{
    text-align: center;
    width: 600px;
    height: 580px;
}

#logBody{
    background-color:rgb(13, 55, 103);
}

#login{
    background-color: rgb(211, 211, 211);
    font-family: inherit;
    font-weight: bold;
    padding: 60px;
    color: rgb(103, 102, 102);
}

#logHead{
    text-align: center;

}

#loginButton{
    color: rgb(103, 102, 102);
    background-color: rgb(163, 163, 243);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
}


/* Agent Registration */
.main{
    width: 70%;
    height: 10px;
}
#agentReg{
    font-weight: bold;
    padding: 50px;
    border: 2px solid black;
    border-radius: 10px;
    margin:20px;
    background-color: rgb(125, 178, 196);
}
#submitAgent{
    color: rgb(103, 102, 102);
    background-color: rgb(163, 163, 243);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
}


/* Records */ 
#client{
   background-color: lightblue;
   border: 2px solid black;
   border-radius: 20px;
    
} 
.recordBody{
    width: 70%;
    height: 10%;
    background-color: white;
    background-position: 20px;
    margin: 10px;
    padding: 0px;
    background-color: white;
    
    font-weight: bold;
}
#submit{
    color: rgb(103, 102, 102);
    background-color: rgb(163, 163, 243);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    background-position: right;
    /* padding-bottom: 10px; */
}







